* { margin: auto; padding: 0; font-family: arial;  }

/*body: cuerpo de la p&aacute;gina*/
body { background-color: #54bdcf; }

/*cabecera*/
header { background-color: rgb(130, 226, 230); }
header h1 { text-align: center; color: darkorchid; padding: 0.5em; font-size: 1.5em; }
header h2 { text-align: center; color: cornflowerblue; padding: 0.5em; font-size: 1.2em; }

/*navegador*/
nav { background-color: rgb(130, 226, 230); min-height: 2em; }
nav p { display: inline; }
nav a:link, nav a:visited { text-decoration: none; color: #425253; background-color: khaki; margin: 0.3em; }
nav a:hover, nav a:active { text-decoration: none; color: #33df9d; background-color: #543683; margin: 0.3em; }

/*principal: article:*/
section { width: 75%; background-color: #deeebc; float: left; }
section h1 { text-align: center; padding: 0.5em; color: olive; font-size: 1.4em; }
section h2 { text-align: center; padding: 0.5em; color: grey; font-size: 1.2em; }
section h3 { text-align: left; padding: 0.3em 3em; color: #663366; font-size: 1em;  }

/*secciones: section*/
article { margin: 0.5em 3em; padding: 0.5em 2em; background-color: white; border: 3px double aqua; }
article p { text-align: justify; }
/*clases*/
.izquierda { display: flex;  justify-content: center;  align-items: center;  float: left;   position: relative; }
.derecha   { display: flex;  justify-content: right;  align-items: right;  float: right;   position: relative; }
.centro    { display: flex;  justify-content: center;  align-items: center;  float: center;   position: relative; }

/*id*/
#contenido { margin: 10px; padding: 10px; border: 2px solid blue; background-color: silver; }
#anuncio1 { margin: 20px; padding: 10px; border: 2px solid silver; background-color: white; }
#anuncio1 h1 { font-size: 1.1em; text-align: left; padding: 0.2em 0em; }
#anuncio1 h2 { font-size: 1.5em; text-align: center; padding: 0.5em 0em; }
#anuncio1 p { font-size: 0.9em; padding: 0.2em 1em; }

#copyright { font-size: 1.1em; text-align: left; padding: 0.2em 0em; }
#contacto { font-size: 1.1em; text-align: left; padding: 0.2em 0em; }
#enlace { font-size: 1.1em; text-align: left; padding: 0.2em 0em; }
/*propaganda: aside*/
aside { width: 25%; float: left; background-color: plum;}

/*pie de p&aacute;gina: footer*/
footer { clear: both; background-color: #ccffff; }
footer h1 { text-align: center; font-size: 1.4em; color: navy; padding: 0.7em; }
footer h2 { text-align: center; font-size: 1em; padding: 0.4em; }
footer a { text-decoration: none; color: green; }

